{
  "cloudflare": [
    {
      "authentication": {
        "api_token": "YOUR_CLOUDFLARE_API_TOKEN"
      },
      "zone_id": "YOUR_CLOUDFLARE_ZONE_ID",
      "subdomains": [
        {"name": "", "proxied": false},
        {"name": "vpn", "proxied": false}
      ]
    }
  ],
  "a": true,
  "aaaa": false,
  "purgeUnknownRecords": false,
  "ttl": 300
}
